#root {
  background-color: white;
}

.main-wrapper {
  margin: 5rem 2.5rem;
  padding-top: 5rem;
}

.form-title {
  color: white;
  text-align:center;
}

.form-title:after {
  content: "";
  width: 50%;
  display: block;
  border-bottom: 1px solid rgb(51, 51, 51);
  margin: 16.6667px auto 25px;
}

.form-control label,
.form-control input {
  width: 100%;
  color: white;
  display: block;
}

.form-control input {
  background-color: rgb(30,30,30);
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button, .btn {
  cursor: pointer;
  font-size:18px;
  min-width: 200px;
  margin: auto;
  display: flex;
  background-color: rgb(247,200,26);
  border-color: rgb(247,200,26);
  border-style: solid;
  border-radius:4px;
  text-decoration:none;
  color:black;
  outline: none 0px;
  padding:12px;
  justify-content: center;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 6px 1px;
  transition: color 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s, border-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}

.form-actions button:hover, .btn:hover {
  background-color: rgb(247, 200, 26);
  box-shadow: rgba(247, 200, 26, 0.45) 0px 0px 8px;
  color: rgb(30, 30, 30);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(247, 200, 26);
  border-image: initial;
}